*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header{
    padding: 7px;
    background-color: #96acba;
    color: white;
    display: flex;
    gap: 80vw;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}

.displayBooks{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.addBook,
dialog #closeDialog{
    width: 100px;
    height: 50px;
    border: 1px solid #2c974b;;
    background-color: #2c974b;;
    color: white;
    border-radius: 6px;
}

table{
    border-collapse: collapse;
}

td,th{
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

th{
    background-color: #333333;
    color: white;
    font-weight: bold;
    font-size: 24px;
}

td{
    height: 30px;
}

.btnDelete{
    width:50px;
    height: 25px;
    border: 1px solid #FF4742;
    background-color: #FF4742;
    color: white;
    border-radius: 3px;
}

button:hover{
    transform: scale(1.1);
}

.modal-container{
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-content: center;    
    opacity: 0;
}

dialog{
    position: fixed;
    top: 35vh;
    left: 45vw;
    border: none !important;
    border-radius: calc(5px * var(--ratio));
    box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    padding: 1.6rem;
    max-width: 400px;
}

dialog .row{
    margin-bottom:20px;
}
dialog .row input{
    border-radius: 6px;
}

dialog #closeDialog{
    width:30px; 
    height:30px; 
    background-color: red; 
    border: 1px solid red;
    margin-bottom: 10px;
}

dialog #addBookDialog{
    width:100px; 
    height:30px;
}